<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Analytics Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">HR Analytics</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Department -->
                            <h5 class="card-title">Department</h5>
                            <select name="1" id="Department" required="required">
                                <option value="Sales & Marketing">Sales & Marketing</option>
                                <option value="Operations">Operations</option>
                                <option value="Technology">Technology</option>
                                <option value="Analytics">Analytics</option>
                                <option value="R&D">R&D</option>
                                <option value="Procurement">Procurement</option>
                                <option value="Finance">Finance</option>
                                <option value="HR">HR</option>
                                <option value="Legal">Legal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Region -->
                            <h5 class="card-title">Region</h5>
                            <select name="2" id="Region" required="required">
                                <option value="region_1">region_1</option>
                                <option value="region_2">region_2</option>
                                <option value="region_3">region_3</option>
                                <option value="region-4">region-4</option>
                                <option value="region_5">region_5</option>
                                <option value="region_6">region_6</option>
                                <option value="region_7">region_7</option>
                                <option value="region_8">region_8</option>
                                <option value="region_9">region_9</option>
                                <option value="region_10">region_10</option>
                                <option value="region_11">region_11</option>
                                <option value="region_12">region_12</option>
                                <option value="region-13">region-13</option>
                                <option value="region_14">region_14</option>
                                <option value="region_15">region_15</option>
                                <option value="region_16">region_16</option>
                                <option value="region_17">region_17</option>
                                <option value="region_18">region_18</option>
                                <option value="region_19">region_19</option>
                                <option value="region_20">region_20</option>
                                <option value="region_21">region_21</option>
                                <option value="region-22">region-22</option>
                                <option value="region_23">region_23</option>
                                <option value="region_24">region_24</option>
                                <option value="region_25">region_25</option>
                                <option value="region_26">region_26</option>
                                <option value="region_27">region_27</option>
                                <option value="region_28">region_28</option>
                                <option value="region_29">region_29</option>
                                <option value="region_30">region_30</option>
                                <option value="region-31">region-31</option>
                                <option value="region_32">region_32</option>
                                <option value="region_33">region_33</option>
                                <option value="region_34">region_34</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Education -->
                            <h5 class="card-title">Education</h5>
                            <select name="3" id="Education" required="required">
                                <option value="Master's & above">Master's & above</option>
                                <option value="Bachelor's">Bachelor's</option>
                                <option value="Below Secondary">Below Secondary</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                             <!-- Gender -->
                            <h5 class="card-title">Gender</h5>
                            <select name="4" id="Gender" required="required">
                                <option value="f">f</option>
                                <option value="m">m</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Recruitment Channel -->
                            <h5 class="card-title">Recruitment Channel</h5>
                            <select name="5" id="recruitment_channel" required="required">
                                <option value="sourcing">sourcing</option>
                                <option value="other">other</option>
                                <option value="referred">referred</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Number of Trainings -->
                            <h5 class="card-title">Number of Trainings</h5>
                            <select name="6" id="Number of Trainings" required="required">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Age -->
                            <h5 class="card-title">Age</h5>
                            <input name="7" id="age" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Previous Year Rating</h5>
                            <!-- Previous Year Rating -->
                            <select name="8" id="previous_year_rating" required="required">
                                <option value="1">1.0</option>
                                <option value="2">2.0</option>
                                <option value="3">3.0</option>
                                <option value="4">4.0</option>
                                <option value="5">5.0</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- lenght of service -->
                            <h5 class="card-title">length_of_service</h5>
                            <select name="9" id="length_of_service" required="required">
                                <option value="1.0">1.0</option>
                                <option value="2.0">2.0</option>
                                <option value="3.0">3.0</option>
                                <option value="4.0">4.0</option>
                                <option value="5.0">5.0</option>
                                <option value="6.0">6.0</option>
                                <option value="7.0">7.0</option>
                                <option value="8.0">8.0</option>
                                <option value="9.0">9.0</option>
                                <option value="10.0">10.0</option>
                                <option value="11.0">11.0</option>
                                <option value="12.0">12.0</option>
                                <option value="13.0">13.0</option>
                                <option value="14.0">14.0</option>
                                <option value="15.0">15.0</option>
                                <option value="16.0">16.0</option>
                                <option value="17.0">17.0</option>
                                <option value="18.0">18.0</option>
                                <option value="19.0">19.0</option>
                                <option value="20.0">20.0</option>
                                <option value="21.0">21.0</option>
                                <option value="22.0">22.0</option>
                                <option value="23.0">23.0</option>
                                <option value="24.0">24.0</option>
                                <option value="25.0">25.0</option>
                                <option value="26.0">26.0</option>
                                <option value="27.0">27.0</option>
                                <option value="28.0">28.0</option>
                                <option value="29.0">29.0</option>
                                <option value="30.0">30.0</option>
                                <option value="31.0">31.0</option>
                                <option value="32.0">32.0</option>
                                <option value="33.0">33.0</option>
                                <option value="34.0">34.0</option>
                                <option value="37.0">37.0</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">KPIs_met_above_80_percent</h5>
                            <!-- KPIs_met >80% -->
                            <select name="10" id="KPIs_met_above_80_percent" required="required">
                                <option value="1">1</option>
                                <option value="0">0</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- awards_won? -->
                            <h5 class="card-title">Awards Won?</h5>
                            <select name="11" id="awards_won" required="required">
                                <option value="0">0</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- avg_training_score -->
                            <h5 class="card-title">average Training Score</h5>
                            <input name="12" required="required">
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        <p>©2022 Muhammed Salih K</p>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>